---
import '@fontsource-variable/kumbh-sans';
import Part1 from './Part1.astro';
import img1 from '../images/image-victor.jpg';
---

<section class="font-kumb">
	<Part1 name='Victor Crest' age='26' city='London' followers='80k' likes='803k' photos='1.4k' image1={img1.src} />
</section>
